$max-desktop-width: 1100px;

.header {
  flex: 0 0 auto;
  background: #23707d;
  color: #fff;
  padding: 1rem;

  .header-wrapper {
    max-width: $max-desktop-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    padding: 0.5rem;
    margin: 0;
  }

  .links {
    display: flex;

    .link {
      margin-right: 0.7rem;
      cursor: pointer;
      text-decoration: none;
      color: #fff;
      transition: 0.2s ease;
      border-bottom: 1px solid transparent;
      padding-bottom: 0.2rem;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
}